<h1><%= @game.players[0].name %> vs <%= @game.players[1].name %></h1>

<h3><%= @game.players[0].name %>'s turn</h3>
<p><%= @game.players[0].name %>: <%= @game.players[0].hit_points %>/60 HP</p>

<p><%= @game.players[1].name %>: <%= @game.players[1].hit_points %>/60 HP</p>

<form action='/attack' method='post'>
  <input type='submit' value='Attack!'>
</form>
